html, body {
    height: 100%;
    margin: 0;
}

header {
    flex-shrink: 0;
    /* padding-top: 0.25; */
    /* padding-bottom: 0.25; */
}

main {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    padding: 30px;
}

footer {
    flex-shrink: 0;
    padding-top: 1.8rem;
    padding-bottom: 1.7rem;
}

#topBar{
    background-color: #C4C4C4;
    position: sticky;
    width: 100%;
}

#bottomBar{
    background-color: #C4C4C4;
    position: fixed;
    width: 100%;
}

#button-login{
    margin-right: 90px;
    background-color: aliceblue;
}

#button-signup{
    margin-right: 25px;
    background-color: aliceblue;
}

#support{
    color: black;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    -right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    margin-right: 10px;
}