html, body {
    height: 100%;
    margin: 0;
}
header {
    flex-shrink: 0;
    /* padding-top: 0.25; */
    /* padding-bottom: 0.25; */
}
main {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    padding: 30px;
    display: flex;
}
footer {
    flex-shrink: 0;
    padding-top: 1.8rem;
    padding-bottom: 1.7rem;
}
/* =======================Tela Principal=================*/
#topBar{
    background-color: #C4C4C4;
    position: sticky;
    width: 100%;
}
#bottomBar{
    background-color: #C4C4C4;
    position: fixed;
    width: 100%;
}
#button-login{
    margin-right: 90px;
    background-color: aliceblue;
}
#button-signup{
    margin-right: 25px;
    background-color: aliceblue;
}
#support{
    color: black;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    text-decoration: none;
    margin-right: 10px;
}

#tipoPets{
    align-content: center;
    margin-right: 500px;
    margin-left: 500px;
}
.fotoFiltro{
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 10px;
    display: inline-block;
}
#button-search{
    width: 30%;
    background-color: #C4C4C4;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 500px;
    margin-left: 500px;
    align-content: center;
}
.conjunto_anuncios{
    display: flex;
    overflow-x: auto;
}
.anuncioPet{
    background-color: #C4C4C4;
    min-width: 180px;
    max-width: 180px;
    margin: 15px;
    height: 280px;
}
.fotoPet{
    height: 120px;
    padding-top: 50px;
    text-align: center;
    /* background-color: rgb(255, 0, 0); */
}
.descPet{
    text-align: center;
    height: 150px;
}
#button-make{
    background-color: #C4C4C4;
    width: 20%;
    margin-top: 20px;
    margin-right: 500px;
    margin-left: 580px;
}

/* =============================tela anuncio========================= */
.corpoAnuncio{
    width: 700px;
    height: 550px;
    background-color: #C4C4C4;
    /* Centralizar na vertical e na horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.foto_anuncio{
    width: 300px;
    height: 200px;
    background-color: black;
    display: flex;
    position: absolute;
    margin-top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textFoto{
    text-align: center;
    margin-left: 115px;
    margin-top: 80px;
    color: white;
}
.edit_type{
    margin-left: -300px;
}
.submit_type{
    background-color: white;
}
#forms
{
    display: grid;
    margin-top: 80px;
}

/* =============================tela login========================= */
#titulo_login
{
    background-color: #C4C4C4;
}